body {
box-sizing: border-box;
scroll-behavior: smooth;
font-family: 'Roboto Slab', serif;
font-size: 16px;
color:#000;
background-color: #f2f2f2;
}

.wrapper{
width: 90%;
max-width: 1200px;
margin: 0 auto;
line-height: 1.5;

}

.nav-bar{
padding-top: 50px;
justify-content: space-between;
align-items: center;
}

.nav-bar h2{
font-weight: bold;
font-size: 2rem;
padding-left: 10px;
text-align: center;
}
.nav-bar ul{
display: block;
}
.nav-bar li{
font-size: 1.2rem;
cursor: pointer;
display: inline-block; 
text-transform: uppercase;
}

.nav-bar li a{
color:#000;
display: block;
padding: 10px 15px;
text-decoration: none;
}

.nav-bar ul li:hover{
font-weight: bold; 
}

#Portfolio{
text-align: center;
margin-top: 3rem;
margin-bottom: 3rem;
display: block;
text-transform: uppercase;
}
.footer{
text-align: center;
}

.footer h1{
text-align: center;
margin-top: 3rem;
margin-bottom: 3rem;
display: block;
text-transform: uppercase;
}

.footer p{
text-align: center;
display: block;
color: #7b8b8e;
}

.footer p:first-of-type{
width: 50%;
padding-bottom: 3rem;
text-align: center;
display: inline-block;
}

.nav-bottom{
min-height: 60px;
padding-top: 50px;
display: flex;
justify-content: space-between;
align-items: center;
}

.nav-bottom h2{
font-weight: bold;
font-size: 2rem;
}

.nav-bottom li{
display: inline-block; 
text-transform: uppercase;
}

.nav-bottom li a{
color:#000;
font-size: 1.2rem;
cursor: pointer;
padding: 10px 15px;
text-decoration: none;

}
.nav-bottom li:hover{
font-weight: bold; 
}

.nav-bottom .new-text {
display: none;
}

/*========================================
Media Queries for Devices 320px and smaller
==========================================*/
@media (min-width: 320px) and (max-width: 767px) { 

.nav-bar h2{
display: block;
}

.nav-bar ul {
display: flex;
flex-direction: column;
list-style-type: none;
padding: 0;
margin: 0 auto;    
text-align: center; 
}

.nav-bar li{
display: block;
margin: 0 auto;
}

.top-content p{
padding-top: 20px;
padding-left: 10px;
}

.top-content img{
max-height: 150px;
display: block;
text-align: center;
margin: auto;
}

.nav-bottom h2{
text-decoration: none;
font-size: 1rem;
}

.nav-bottom ul{
display: none;
} 

.nav-bottom .new-text {
display: inline;
text-transform: uppercase;
}

.new-text a{
text-decoration: none;
color: #000;
}

} 

    
/*========================================
Media Queries for Devices 768px to 1023px
==========================================*/

@media (min-width: 768px) and (max-width: 1023px) {
    
       
.nav-bar ul{
position: relative;
text-align: center;
}
    
.nav-bar li{
text-align: center;
display: inline-block; 
}

.top-content p{
width: 55%;
float: left;
padding-top: 20px;
padding-left: 10px;
}

.top-content img{
max-height: 150px;
width: 35%;
float: right;
}
    

          
}
/*========================================
Media Queries for Devices 1024px and over
==========================================*/
 @media (min-width: 1024px) {
.nav-bar{
min-height: 60px;
display: flex;
}

.nav-bar ul{
justify-content: space-between;
float: right;
}
    
.top-content p{
width: 55%;
float: left;
padding-top: 20px;
padding-left: 10px;
}

.top-content img{
width: 35%;
max-width: 300px;
max-height: 150px;
float: right;
}


} 


